@model IEnumerable<portal_job_FN.Models.PostJob>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Company.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create_post_job">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.job_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apply_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.job_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apply_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
