@model IEnumerable<portal_job_FN.Models.ApplyJob>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.url_cv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cover_letter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.application_userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.applicationUser)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.url_cv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cover_letter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.application_userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_Job.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
